.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.section {
    margin-bottom: 40px;

    p {
        margin-bottom: 20px;
        .the-title {
            font-size: 20px;
        }
    }

    h3 {
        font-weight: bold;
    }
    .border {
        max-width: 650px;
        margin: 0 auto;
    
        img {
            max-width: 100%;
            margin-bottom: 0;
        }
    }
    .boder {
        max-width: 510px;
        margin: 0 auto;
        margin-bottom: 30px;
        
        img {
            max-width: 100%;
        }
    }
    span {
        margin-left: 20px;
        font-weight: bold;
    }
    .button {
        text-align: center;
        button {
            margin: 20px;
            padding: 0 10px;
            border-radius: 8px;
            color: #fff;
            background-image: linear-gradient( $footerBg, $mainColor);
        }
    }
}

.the-title {
    color: #1a60ac;
    margin-bottom: 20px;
    font-weight: 700;
}

.youtube-play-video {
    width: 650px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.thumb {
    margin-bottom: 10px;
    img {
        max-width: 100%;
    }
}
.new-item {
    margin-bottom: 20px;
}

.new-list {
    .new-item {
        border-bottom: #ccc solid 1px;
        padding-bottom: 20px;
    }
}

.article-detail {
    img {
        max-width: 100%;
        margin-bottom: 15px;
    }
}