body {
    font-family: Arial;
    color: #060606;
}

#header {
    background-color: $headerBg;
    color: #fff;

    ul {
        margin: 0 auto;

        a {
            margin: 0 20px;
            font-size: 15px;
            color: #fff;
        }
    }
    .dropdown-menu {
        background-color: #7ac6e2;
        a{
            margin: 0;
            
        }
        a:hover {
            color: #7ac6e2;
        }
    }
}
li:hover .dropdown-menu {
    display: block;
}
.navbar-brand {
    max-width: 100px;
    margin: 0;

    img {
        max-width: 100%;
        margin-bottom: 0;
    }
}

.navbar-light {
    .navbar-nav {
        .active {
            > .nav-link {

            }
        }

        .nav-link {
            color: #fff;

            &.active,
            &.show {

            }
        }

        .show {
            > .nav-link {

            }
        }
    }
}