body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: $headerBg;
    color: #fff;

    a {
        color: #fff;
    }
}

.navbar-brand {
    max-width: 100px;

    img {
        max-width: 100%;
    }
}

.navbar-light {
    .navbar-nav {
        .active {
            > .nav-link {

            }
        }

        .nav-link {
            color: #fff;

            &.active,
            &.show {

            }
        }

        .show {
            > .nav-link {

            }
        }
    }
}