body {
  font-family: Arial;
  color: #060606;
}

#header {
  background-color: #7ac6e2;
  color: #fff;
}
#header ul {
  margin: 0 auto;
}
#header ul a {
  margin: 0 20px;
  font-size: 15px;
  color: #fff;
}
#header .dropdown-menu {
  background-color: #7ac6e2;
}
#header .dropdown-menu a {
  margin: 0;
}
#header .dropdown-menu a:hover {
  color: #7ac6e2;
}

li:hover .dropdown-menu {
  display: block;
}

.navbar-brand {
  max-width: 100px;
  margin: 0;
}
.navbar-brand img {
  max-width: 100%;
  margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
#main-banner {
  position: relative;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  #main-banner {
    margin-bottom: 50px;
  }
}
#main-banner img {
  width: 100%;
  max-height: 460px;
}
#main-banner .banner-text {
  color: #fdfdfd;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#main-banner .banner-text h1 {
  font-size: 30px;
}
#main-banner .banner-text h5 {
  font-size: 10px;
  font-weight: normal;
}
@media (min-width: 768px) {
  #main-banner .banner-text h1 {
    font-size: 80px;
  }
  #main-banner .banner-text h5 {
    font-size: 30px;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.section {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section {
    margin-bottom: 20px;
  }
}
.section p {
  margin-bottom: 20px;
}
.section p .the-title {
  font-size: 20px;
}
.section h3 {
  font-weight: bold;
}
.section .border {
  max-width: 650px;
  margin: 0 auto;
}
.section .border img {
  max-width: 100%;
  margin-bottom: 0;
}
.section .boder {
  max-width: 510px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.section .boder img {
  max-width: 100%;
}
.section span {
  margin-left: 20px;
  font-weight: bold;
}
.section .btn-primary {
  margin: 30px 0;
  padding: 3px 30px;
  border-radius: 8px;
  color: #fff;
  background-image: linear-gradient(#118fc8, #186eb6);
}
.section .button a {
  margin: 0 0 5px 0;
  padding: 12px 0;
  width: 100%;
}

.the-title {
  color: #1a60ac;
  margin-bottom: 20px;
  font-weight: 700;
}

.youtube-play-video {
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%;
}
.youtube-play-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.thumb {
  margin-bottom: 10px;
}
.thumb img {
  max-width: 100%;
}

.new-title a {
  color: #000;
}

.container .content {
  margin-bottom: 50px;
}

.new-item {
  margin-bottom: 20px;
}

.new-list .new-item {
  padding: 0 10px;
  border-bottom: #ccc solid 1px;
  padding-bottom: 20px;
}
.new-list .new-item.change {
  border-bottom: #fff solid 1px;
}

.article-detail {
  padding-left: 0;
  border: none;
}
@media (min-width: 768px) {
  .article-detail {
    padding-left: 40px;
    border-left: 1px solid #ccc;
  }
}
.article-detail img {
  max-width: 100%;
  margin-bottom: 15px;
}
.article-detail h3 {
  margin-bottom: 30px;
}
.article-detail .center {
  text-align: center;
  color: #186eb6;
}

.article-bottom {
  margin: 45px 0 40px;
}
.article-bottom a {
  display: block;
  text-decoration: underline;
  color: #3a9fff;
}
.article-bottom h6 {
  font-style: italic;
}

.content-betwen {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.content-betwen h5 {
  color: #1968b3;
  margin-bottom: 50px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list .feature-item {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 15px;
  border-right: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
}
.feature-list .feature-item:nth-child(1), .feature-list .feature-item:nth-child(2) {
  border-top: none;
}
.feature-list .feature-item:nth-child(2n+2) {
  border-right: none;
}
@media (min-width: 768px) {
  .feature-list .feature-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 25px;
  }
  .feature-list .feature-item:nth-child(3) {
    border-top: none;
  }
  .feature-list .feature-item:nth-child(2n+2) {
    border-right: 1px solid #b9b9b9;
  }
  .feature-list .feature-item:nth-child(3n+3) {
    border-right: none;
  }
}
.feature-list .borderless.top {
  border-top: none;
}
.feature-list .borderless.top-right {
  border-top: none;
  border-right: none;
}
.feature-list .borderless.right {
  border-right: none;
}
.feature-list img {
  height: 74px;
  max-width: 100%;
  margin-bottom: 10px;
}

.icon-block {
  display: flex;
}
.icon-block img {
  max-width: 100%;
}

.btn-primary {
  background-color: #176ce0;
  border-color: #176ce0;
}

.about-form {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .about-form {
    padding: 0 20px;
    margin-bottom: 50px;
  }
}
.about-form h4 {
  color: #186eb6;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 20px;
}
.about-form i {
  font-size: 20px;
  color: #1968b3;
}
.about-form p {
  margin-left: 10px;
  color: #97999c;
  margin-bottom: 15px;
}

.form-login {
  text-align: center;
  box-shadow: 0 12px 10px 5px #cbcbcb;
  margin-bottom: 30px;
}
.form-login h6 {
  color: #fff;
  background-color: #176ce0;
  padding: 10px 0;
}
.form-login .form {
  padding: 15px 20px;
}
@media (min-width: 768px) {
  .form-login .form {
    padding: 30px 50px;
  }
}
.form-login .form button {
  font-size: 13px;
  background-color: #176ce0;
  color: #fff;
  padding: 8px 0;
  width: 100%;
  border: none;
  border-radius: 3px;
}
.form-login .form button:hover {
  background-color: #0d4ca1;
  transition: 0.4s;
}

.form-group label {
  margin-bottom: 0;
  font-size: 13px;
  display: flex;
  color: red;
}

.form-control.error {
  border: 1px solid red;
}

#footer {
  background-color: #1968b3;
  color: #fff;
  padding: 50px 0;
}
#footer img {
  margin-bottom: 0;
  max-width: 100%;
}
#footer .logo {
  margin-bottom: 20px;
}
#footer .aside-top {
  margin-bottom: 55px;
}
#footer .aside-bottom a {
  margin-bottom: 5px;
  font-size: 13px;
  display: block;
  color: #fff;
}
#footer .aside-bottom .icon {
  margin-bottom: 5px;
}
#footer .aside-bottom .icon img {
  margin-right: 10px;
}
#footer p {
  font-size: 13px;
  margin-bottom: 5px;
}
#footer .col-md-3, #footer .col-md-5 {
  margin-top: 40px;
}
#footer .col-md-3 .aside-top, #footer .col-md-5 .aside-top {
  margin-bottom: 44px;
}

.page-title {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 3px;
  margin-bottom: 30px;
}
.page-title h3 {
  color: #1c66af;
  font-size: 30px;
}

.page-nav .pagination li {
  margin: 0 5px;
}
.page-nav .pagination li a {
  padding: 5px 7px;
  background-color: #1388c4;
  color: #fff;
  border-radius: 10px;
}
.page-nav .pagination span {
  line-height: 50px;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
  border-radius: 10px;
}

/*# sourceMappingURL=main.css.map */
